body {
    font-family: sans-serif;
    background-color: #ffcd44;
}

#loading {
    display: none;
    text-align: center;
    margin-top: 1em;
}

.hide {
    display: none !important;
}

.showLoad {
    display: block !important;
}

/*************** POPUP WINDOW SECTION ********************/
#popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
}

.block {
    display: block !important;
}

.modalContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ff9900;
    height: 70%;
    width: 70%;
    text-align: center;
    overflow: hidden;
    overflow: auto;
    border-radius: 3em;
}

/* The Close Button */
.close {
    display: block;
    color: #ffffff;
    float: right;
    font-size: 40px;
    font-weight: bold;
    background-color: #ff0000;
    border-radius: 1em;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/******************* SEARCH RESULTS SECTION *******************/
.item p {
    margin: 1em;
    padding: 0;
}

.item h2 {
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1cap 0;
    margin: 1em;
}

.item img {
    max-height: 7em;
    max-width: 17em;
}

.itemImage {
    display: inline-block;
}

.fullsizeImage {
    max-width: 50%;
    max-height: 50%;
}

.clickForMore {
    color: blue;
    text-decoration: underline;
}

/*when viewed on a desktop*/
#results {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: block;
    min-height: 30em;
    width: 20%;
    border: 1px solid #000000;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
    background-color: white;
    border-radius: 3em;
}

/*when viewed on a tablet */

@media screen and (max-width: 1300px) {
    .item {
        width: 30%;
    }
}

/*when viewed on a small tablet */

@media screen and (max-width: 870px) {
    .item {
        width: 49%;
    }

    #imageCheckbox {
        height: 2.25em;
        width: 2.25em;
    }

    #AmountDropdown {
        width: 4em;
        height: 2.25em;
    }
}

/*when viewed on a mobile*/
@media screen and (max-width: 740px) {
    #results {
        display: block;
    }

    .item {
        width: 100%;
        display: block;
    }

    #imageCheckbox {
        height: 2.25em;
        width: 2.25em;
    }

    #AmountDropdown {
        width: 4em;
        height: 2.25em;
    }
}

/********************** SEARCHBOX SECTION *********************/
#searchboxButton {
    background-color: blue;
    border-radius: 2em;
    width: 100%;
    height: 3em;
    color: white;
    border: black 3px solid;
}

fieldset {
    border: none;
}

#search {
    width: 100%;
    background-color: white;
    border-radius: 1em;
    margin-bottom: 1em;
    display: inline-block;
}

#searchBox {
    width: 100%;
    height: 2em;
    font-size: 1em;
    border: 2px solid #000000;
    margin-bottom: 1em;
    border-radius: 3em;
}

#resultAmountDropdown {
    width: 4em;
    height: 2.25em;
    font-size: 1em;
    border: 1px solid #000000;
    margin-bottom: 1em;
    border-radius: 3em;
    text-align: center;
}

.searchError {
    font-size: 1em;
    color: #ff0000;
    margin-bottom: 1em;
}
