body {
    font-family: sans-serif;
    background-color: #ffcd44;
}


#searchboxButton{
background-color: blue;    
border-radius: 2em;
width: 100%;
height: 3em;
color: white;
}


#search{
    width: 100%;
    margin-bottom: 1em;
    background-color: white;
}

#searchBox{
    width: 100%;
    height: 2em;
    font-size: 1em;
    border: 1px solid #000000;
    margin-bottom: 1em;
    border-radius: 3em;
}



#results {
    display: none;
}

.item{
    display: block;
    margin-bottom: 1em;
    width: 100%;
    border: 1px solid #000000;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
    background-color: white;
    border-radius: 3em;
}

.item p{
    margin: 1em;
    padding: 0;
}

#loading{
    display: none;
    text-align: center;
    margin-top: 1em;
}


.hide{
    display: none;
}

.show{
    display: block !important;
}

#resultAmountDropdown{
    width: 4em;
    height: 2em;
    font-size: 1em;
    border: 1px solid #000000;
    margin-bottom: 1em;
    border-radius: 3em;
}

.fullsizeImage{
    max-width:40% ;
    max-height: 40%;
    min-width: 200px;
    min-height: 200px;
}


